/*Responsive Styles*/


/* Smartphones (portrait) ---------------- */
@media only screen 
and (max-width : 320px)
{
    .menu-list {
        display: block; 
        width: 100%;
        position: absolute;
        top: 4rem;
        left: -5rem;

        text-align: center;
        background-color: var(--background);
        transition: background 0.5s ease-in-out;
    }

    #menu-icon {
        display: block;
        margin: 0 2rem;
    }

    li a.menu-item {
        display: none;
        padding: 1.2rem;
        color: var(--font-white);
    }

    li a.menu-item:hover {
        background-color: var(--green-light);
        color: var(--font-dark);
        text-decoration: none;
    }

    li a.open {
        display: block;
    }
   
}

/* Smartphones (landscape) ---------------- */
@media only screen 
and (min-width : 321px)
and (max-width : 767px)
{
    .menu-list {
        display: block; 
        width: 100%;
        position: absolute;
        top: 4rem;
        left: -5rem;

        text-align: center;
        background-color: var(--background);
        transition: background 0.5s ease-in-out;
    }

    #menu-icon {
        display: block;
        margin: 0 2rem;
    }

    li a.menu-item {
        display: none;
        padding: 1.2rem;
        color: var(--font-white);
    }

    li a.menu-item:hover {
        background-color: var(--green-light);
        color: var(--font-dark);
        text-decoration: none;
    }

    li a.open {
        display: block;
    }
}


/* Tablets (portrait) -------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
/* Add Your CSS Styling Here */
}


/* Tablets (landscape) ------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{   
/* Add Your CSS Styling Here */
}

/* Old Desktops and laptops ------------------ */
@media only screen 
and (min-width : 1025px) 
{
/* Add Your CSS Styling Here */
}

/* Desktops ------------------ */
@media only screen 
and (min-width : 1201px) 
{
/* Add Your CSS Styling Here */
}