@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Inter:wght@100;400;600&family=Syne&display=swap');

:root {
    --font-dark: #515550;
    --font-white: #fff;
    --green-dark: #727241;
    --green-light: #BFD74E;
    --background: #838b81;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-dark);
    cursor: pointer;
}

/*--------- Navigation -----------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
}

nav #logo {
    margin: .5rem 1rem;
}

#menu-icon {
    display: none;
}

.menu-list {
    display: flex;
    gap: 3rem;
    margin: 0 5rem;
}

.menu-list a {
    font-weight: 600;
    font-size: 1.063rem;
    letter-spacing: 0.1rem;
    
    padding: .2rem;
}

li a.menu-item:hover {
    border-bottom: 2.5px solid var(--green-dark);
    color: var(--green-dark);
}